*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
}
.contain{
    max-width: 1200px;
    margin: auto;
}
.btn{
    background-color: #1cd10036;
    border: 1px solid #1DD100;
    border-radius: 5px;
    cursor: pointer;
}
header{
    height: 80vh;
    background-image: url(images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    background-color: #F7F8F8;
}
hr{
    border: 1px solid #808080;
    border-style: dashed;    
}

.seat-selected{
    background: #1DD100;
    color: white;
}
.seat-not-selected{
    background-color: #80808022;
}
.cursor{
    cursor: not-allowed;
}
.popup{
   position: fixed;
   width: 100%;
   height: 100vh;
   backdrop-filter: blur(11px);
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.inside_pop{
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}